.gameTag {
    border-radius: 1em;
    padding: 0.08em 0.35em;
    font-size: small;
    background-color: lightgrey;
    text-align: center;
    height: min-content;
}

.genreTag {
    composes: gameTag;
    background-color: #99e5b9;
}

.themeTag {
    composes: gameTag;
    background-color: #c7c0d1;
}

.gameTag .tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #f4f0d0;
    border: 1px solid #111;
    opacity: 0;
    transition: 0.07s;
    padding: 0.1rem;
    margin: 0.2rem;
    max-width: 22rem;
    text-align: justify;
}

.gameTag:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
