.mainContainer {
    margin: 2rem auto;
    padding: 0 0.5rem 1rem 0.5rem;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    border: 3px solid #C0C0C0;
    font-family: sans-serif;
}

@media(max-width: 400px) {
    .mainContainer {
        margin: 0;
        max-width: 100%;
    }
}

.headerUnderline {
    margin: 1.5rem 0 0.5rem 0;
    width: 95%;
    height: 2px;
    background-color: black;
}

nav {
    align-self: center;
    margin-bottom: -1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li:not(:last-child) {
    margin-right: 1rem;
}

.headerTitle {
    text-align: center;
}

.bodyContent {
    align-self: start;
    padding: 0 1rem;
}
