.mainContainer {
    margin: 2rem auto;
    padding: 0 0.5rem 1rem 0.5rem;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    border: 3px solid #C0C0C0;
    font-family: sans-serif;
}

@media(max-width: 400px) {
    .mainContainer {
        margin: 0;
        max-width: 100%;
    }
}

.headerUnderline {
    margin: 1.5rem 0 0.5rem 0;
    width: 95%;
    height: 2px;
    background-color: black;
}

.headerLinks {
    align-self: center;
    margin: -1.8rem auto -0.8rem auto;
}

.headerLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.2rem;
}

.headerLinks ul li {
    display: inline-block;
    text-align: center;
}

.headerLinks ul li:not(:last-child) {
    margin-right: 1rem;
}

.headerLinks a {
    font-size: large;
    color: black;
}

.headerLinks a:visited {
    color: black;
}

.headerLinks a:hover {
    background-color: #111;
    color: white;
}

.headerTitle {
    text-align: center;
}

.bodyContent {
    align-self: start;
    padding: 0 1rem;
}
