.reviewsListWrapper {
    display: flex;
    flex-direction: column;
}

.reviewRow {
    display: grid;
    grid-template-columns: [nameAndTag] 1fr [tagline] 5fr [date] 2fr;
    grid-template-rows: 1fr auto;
    margin: 0.3rem 0;
}

.nameAndTagWrapper {
    text-align: center;
}

.gameNameLink {
    row: 1;
    column: nameAndTag;
}

.tagWrapper {
    row: 2;
    column: nameAndTag;
}

.taglineWrapper {
    grid-column:;
    row: 1/2;
    column: tagline;
    margin: 0 0.2rem;
}

.dateWrapper {
    row: 1/2;
    column: date;
}
