.reviewsListWrapper {
    display: flex;
    flex-direction: column;
}

.reviewRow {
    display: grid;
    grid-template-columns: [nameAndTag] 1fr [tagline] 4fr [date] 1fr;
    grid-template-rows: auto;
    margin: 0.5rem 0;
}

.nameAndTagsWrapper {
    row: 1;
    column: nameAndTag;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameName {
    font-size: x-large;
    margin-bottom: 0.2rem;
    text-align: center;
    color: black;
}

.gameName:visited {
    color: black;
}

.gameName:hover {
    background-color: #111;
    color: white;
}

.tagsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameAndTagsWrapper div  {
    margin-top: 0.15rem;
}

.taglineWrapper {
    row: 1;
    column: tagline;
    margin: 0 0.3rem;
    font-size: large;
}

.dateWrapper {
    row: 1;
    column: date;
    color: grey;
}
