.titleWrapper {
    display: flex;
    align-items: center;
}

.tagList {
    display: flex;
}

.tagList * {
    margin: 0 0.15rem;
}

.tagList::before {
    content: "-";
    margin: 0 0.5rem;
    color: #999;
    font-size: medium;
}

.pointList {
    padding-left: 1rem;
    list-style-position: outside;
}

.summaryBox {
    width: 50%;
    padding: 0 1rem 0 1rem;
    margin: 0 0.5rem ;
}

.pointListTitle {
    margin-bottom: -0.8rem;
}

.summaryPointsContainer {
    display: flex;
    align-items: flex-start;
}
