.reviewsListWrapper {
    display: flex;
    flex-flow: row wrap
}

.gameTileWrapper {
    margin: 0.5rem;
    width: 30%;
}

.gameTile {
    display: flex;
    border: 2px #555 solid;
    border-radius: 5px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #eee;
    box-sizing: border-box;
    padding: 0.4rem;
    /* remove unwanted styles from a element style */
    text-decoration: unset;
    color: unset;
}

.gameTile:hover {
    background-color: #ddd;
}

.gameTile:active {
    background-color: #ccc;
}

.gameName {
    font-size: x-large;
    margin-bottom: 0.2rem;
    text-align: center;
    margin-top: 0;
}

.tagsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagsWrapper div:not(:last-child) {
    margin-bottom: 0.2rem;
}

.taglineWrapper {
    margin: 0.3rem 0;
    font-size: large;
    overflow-wrap: break-word;
}

.footer {
    margin-top: auto;
    font-size: small;
    color: #555;
    display: flex;
}

.reviewStatus {
    margin-left: auto;
    order: 1;
}

.dateWrapper {
    order: 0;
}
